.chat_header>hr{
    color: #373737;
}
.chat_header span{
    font-weight: 600;
}
.date{
    color: #6D6D6D;
}
.header_message{
    font-size: 20px;

}
.content_message{

    display: inline-block;
    padding: 0.7rem;
}
.footer_message{
    color: #6D6D6D;
    font-size: 12px;
}
.content_message__reactTutor{
    border-radius: 0px 30px 30px 30px;
    background-color: #2D2D2D;
}
.content_message__user{
    border-radius: 30px 30px 30px 30px;
    background-color: #4A4A4A;
}
.header_message__reactTutor{
    color: #61DAFB;
}
.header_message__reactTutor{
    color: #E0E0E0;
}

.clear__button__submit{
    background-color: transparent;
    border: none;
    z-index: 2;

}

.form-control__chat{
    z-index: 1;
    border-radius: 30px;
    border-color: transparent;
    background-color: #4A4A4A;
    color: #E1E3E7;
    box-shadow: none;
    line-height: 1.5;
    box-sizing: border-box;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 60px;
    font-size: 16px;
    resize: none;
    overflow: hidden;
    min-height: 3rem;
    max-height: 250px;
}
.button_submit{
    background-color: transparent!important;
    border: none;
    border: 0;
}
.form-control__chat:active, .form-control__chat:focus,.form-control__chat:placeholder-shown{
    border-radius: 30px;
    border-color: transparent;
    background-color: #4A4A4A!important;
    color: white;
    box-shadow: none;
    line-height: 1.5;
    box-sizing: border-box;
    min-height: 3rem;
    overflow:hidden;
}

.form-control::placeholder{
    color: #C7C7C7;

}
.chat::-webkit-scrollbar, .form-control__chat::-webkit-scrollbar{
    width: 7px;
    background-color: #2D2D2D;
    border-radius: 1rem;
}
.chat::-webkit-scrollbar-thumb{
    background-color: #4A4A4A;
    border-radius: 1rem;
}
.form-control__chat::-webkit-scrollbar{
    width: 7px;
    background-color: transparent;
    border-radius: 1rem;
}
.history__theme>li{
    margin-bottom: 10px;
}
.form-control__chat::-webkit-scrollbar-thumb{
    background-color: #2D2D2D;
    border-radius: 1rem;
}
.chatFormWrapper{
    background-color: transparent;
}

.clear__button{
    background-color: transparent!important;
    border: none;
    border: 0;
    height: 45px;
    width: 45px;
    padding: 0;
}
.clear__button:hover, .clear__button:focus,.clear__button:active,.clear__button:focus{
    background-color: #222222 !important;
    height: 45px;
    width: 45px;
}
